* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

// ================================ Mi CSS

nav {
  margin-left: 3rem;
  margin-top: 3rem;
}

.nav-link.active {
  font-size: x-large;
}

.nav-link {
  color: brown;
}

.img-thumbnail.logoTenisTop {
  width: 7%;
  background-color: transparent;
  border: transparent;
  padding-bottom: 1rem;
}

.img-thumbnail.logoTenisBot {
  width: 4%;
  background-color: transparent;
  border: transparent;
}

.boxPrincipal {
  text-align: center;
  margin: 2rem;

  h1 {
    font-size: xx-large;
  }

  p {
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: justify;
  }
}

// ================================ Mi CSS

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  justify-content: center;
}
